<!DOCTYPE html>
<html lang= "en">
    <head>
        <meta charset="utf-8"/>
        <meta hhtp-equiv="X-UA-Compatible" content="IE-edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="app.css" >
        <title>About</title>
    </head>
    <body>

        <div class="sidebar bar-block collapse card animate-left" style="width: 170px;" id="mySidebar">
            <img class="mlogo" src="/components/About-icon.png"></img>
            <a href="/" id="btn-link4" class="bar-link button">Dashboard</a>
            <a href="/About" id="btn-link3" class="bar-link button">About</a>
            <button class="bar-item button large hide-large" onclick="nav_close()">Close &times;</button>
            <footer class="byali">Created and developed by Ali Kachef</footer>
          </div>
          <button class="button teal xlarge hide-large round" onclick="nav_open()">&#9776;</button>
        <div class="main" style="margin-left: 200px;"> 
            <div class="container">
                        
            <div class="teal">
                <header class="header1">About this App</header>
                <header class="header2"></header>
                <div class="card2 ">
                    <input id="search-input" class="search-input" onkeyup="tableSearch()" type="text" placeholder="Search"/>
                    <div class="selectB">
                </div>
                </div>
                </div>
                </div>
            </div>
    </body>
</html>