@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
body{
    font-family: 'Raleway', sans-serif;
}
.table-refresh{
    min-width: 400px;
    max-width: 1000px;
    font-size: 14px;
    font-family: sans-serif;
}

.table-refresh__table{
    border-collapse: collapse;
    max-width: 100%;
    box-shadow: 0 0 5px rbga(0,0,0,0.2);
    border-bottom: 2px solid #009578; 
}

.table-refresh__table thead tr{
    background-color: #009578;
    color: white;
    display: block;
}

.table-refresh__table th,
.table-refresh__table td {
    text-align: left;
    font-weight: normal;
    padding: 10px 5px;
    width: 200px;
}

.table-refresh__table tbody tr:nth-of-type(even){
    background-color: #eeeeee;
}
.table-refresh__table tbody{
    display: block;
    width: 100%;
    height: 300px;
    overflow: hidden;
    overflow-y: scroll;

}

.sidebar{
    height:100%;
    width:200px;
    background-color: #009578;
    position:fixed!important;
    z-index:1;
    overflow:auto
    
}
.bar-block{
    width:100%;
    display:block;
    padding:8px 16px;
    text-align:left;
    border:none;
    white-space:normal;
    float:none;
    outline:0;
}

.animate-left{
    position:relative;
    animation:animateleft 0.4s;
}
@keyframes animateleft{
    from{left:-300px;opacity:0} to{left:0;opacity:1}
}

main, #main{
    transition: margin-left .4s;
}
.bar-item{
    padding:8px 16px;
    float:left;
    width:auto;
    border:none;
    display:block;
    outline:0;
    color: white;
    font-size: 100%;
}
.button{
    border:none;
    display:inline-block;
    padding:8px 16px;
    vertical-align: middle;
    overflow:hidden;
    text-decoration:none;
    background-color:inherit;
    text-align:center;
    cursor:pointer;
    white-space:nowrap;
    width:100%;
    text-align:left;
    padding:8px 16px;
}
.container{
    padding:0.01em 16px;
}

.container:after,.container:before{
    content:"";
    display:table;
    clear:both
}

.large{
    font-size:18px!important
}

    
.bg-model2{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}  

.bg-model{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.model-content{
    width: 500px;
    height: 300px;
    background-color: white;
    border-radius: 4px;
    text-align: center;
    padding: 2-px;
    position: relative;

}
input{
    width: 50%;
    display: block;
    margin: 5px auto;
}

.close{
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}

.bg-model1{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.model-content1{
    width: 500px;
    height: 300px;
    background-color: white;
    border-radius: 4px;
    text-align: center;
    padding: 2-px;
    position: relative;

}

.close1{
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}
.close2{
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}
.card2{
    display: flex; 
    align-items: center;
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    max-width: 1000px;


}
.search-input{
    display: block;
    float: left;
    margin-left: 20px;
    margin-right: 5px;

}



.card{
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.round{
    background-color: lightgreen;
    border-radius: 0px 50px 50px 0px;
    width: 6%;
    margin-left: 15px;
}

.userCount{
    display: flex;
    padding: 25px 5px 25px ;
    justify-content: space-between;
    max-width: 77%;

}
.activeU{
    box-shadow:rgba(28, 170, 0, 0.5) -5px 0px, rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    padding: 25px 15px 25px 15px;
    max-width: 100%;
    margin-left: 0px;
}

.unactiveU{
    box-shadow: rgba(255, 0, 0, 0.5) -5px 0px, rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    padding: 25px 15px 25px 15px;
    max-width: 100%;
    margin-left: 0px;
}

.rnewalN{
    box-shadow: rgba(255, 196, 0, 0.5) -5px 0px, rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    padding: 25px 15px 25px 15px;
    max-width: 100%;
    margin-left: 0px;
}

.totalU{
    box-shadow: rgba(0, 17, 255, 0.5) -5px 0px, rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    padding: 25px 15px 25px 15px;
    max-width: 100%;
    margin-left: 0px;
}
.bar-link{
    padding:8px 16px;
    float:left;
    width:auto;
    border:none;
    display:block;
    outline:0;
    color: white;
    font-size: 110%;
}

.header1{
    padding-top: 10px;
    font-size: 30px;
}
.header2{
    color: gray;
    padding: 5px 5px;
    font-size: 15px;
    
}
.mlogo{

    max-width: 60%;
    padding: 30px 30px 40px;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}
.byali{
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 10px;
    height: 2.5rem;
}

.table-refresh__options{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 0;
}
.table-refresh__options > *:not(:last-child){
    margin-right: 12px;

}

.table-refresh__button{
    background-color: #eeeeee;
    color: #333333;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
}
.table-refresh__button > i{
    font-size: 1.5em;
}
.table-refresh__button--refreshing{
    animation: 0.5s rotate infinite linear;
}
.infocon{
    display: inline-flex;
    margin: 0;
    
}
.infotab{
    box-shadow:  rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    max-width: 900px;
    min-width: 250px;
    margin-left: 0px;
    padding-left: 5px;
    height: 340px;
    margin: 0;

}
.infotabcon{
    padding-left: 10px;
}

.sheetinfo {
    padding: 1.5em;
}

.sname{
    box-shadow:rgba(28, 170, 0, 0.5) -5px 0px, rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    padding: 5px;
    line-height: 0px;
    margin: 0;
    font-size: 13px;
    
}
h6{
    text-decoration: underline;
}
.sowner{
    box-shadow: rgba(255, 0, 0, 0.5) -5px 0px, rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    padding: 5px;
    line-height: 0px;
    margin: 1em 0;
    font-size: 13px;

}
.shname{
    box-shadow: rgba(0, 17, 255, 0.5) -5px 0px, rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    padding: 5px;
    line-height: 0px;
    margin: 1em 0;
    font-size: 13px;
    
}
.sversion{
    box-shadow: rgba(255, 196, 0, 0.5) -5px 0px, rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    padding: 5px;
    line-height: 0px;
    margin: 1em 0;
    font-size: 13px;
    
}
.images-compare{
    display: block;
    max-width: 100%;
}
.images-compare img{
    max-width: 500px;
    padding-right: 25px;
    height: auto;
}

.images-compare p{
   margin: 0;
   font-size: 10px;
}

@keyframes rotate {
    to{
        transform: rotate(1turn);
    }
}

@media (min-width:993px){
    .modal-content{width:900px}
    .hide-large{display:none!important}
    .sidebar.collapse{display:block!important}
    .select-bar{margin-right: 0px;}
}

@media screen and (max-width:992px){
    .sidebar.collapse{display:none;}
    .main{margin-left:0!important;margin-right:0!important;}
    .auto{max-width:100%;}
    .userCount{max-width: 100%;}
    .shname{padding: 30px;}
    .sowner{padding: 30px;}
    .sversion{padding: 30px;}
    .sname{padding: 30px;}
    .infocon{display: block;}
    .sheetinfo{display: flex; justify-content: space-between; align-items: center;}
    .infotab{  max-width: 900px; height: 180px;}
    
    
}
@media screen and (max-width:500px){
    .totalU{padding: auto; font-size: 10px;}
    .unactiveU{padding: auto; font-size: 10px;}
    .activeU{padding: auto; font-size: 10px;}
    .rnewalN{padding: auto; font-size: 10px;}
    .table-refresh{min-width: 50px; font-size: 1.9vw;}
    .shname{padding: 5px;}
    .sowner{padding: 5px;}
    .sversion{padding: 5px;}
    .sname{padding: 5px;}
    .infotab{height: 150px;}

}
